/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    background: rgb(238, 236, 236);
}
main {
    background: rgb(161, 165, 197);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6vw;
    background: rgb(60, 143, 238);
    padding: 1vw;
    text-shadow: 2px 1px #fff;
    border: 0.2vw solid rgb(29, 28, 28);
}
nav{
    background: rgba(141, 209, 194, 0.253);
    padding: 1vw;
    display: flex;
    justify-content: space-around;
}
.nav-var {
    display: inline-block;
    background: rgb(100, 99, 99);
    color: #fff;
    padding: 1vw 3vw;
    text-decoration: none;
    border-radius: 1vw;

}
.nav-var:hover {
    background: #fff;
    color: rgb(136, 114, 114);
}
.data {
    text-align: center;
    margin: auto;
    
    padding: 10vw;
    font-size: 3vw;
    font-family: 'Saira Stencil One', cursive;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.data #avatar{
    width: 25vw;
    height: 20vw;
    border-radius: 5vw;
}
.proyect-box {
    display: flex;
    
    flex-wrap: wrap;
}
.proyect-box .proyect {
    background: rgb(101, 104, 126);
    margin: 1vw;
    margin-left: 30vw;
    margin-right: 30vw;
    padding: 2vw;
    border-radius: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Saira Stencil One', cursive;
}
.element {
    margin: 1vw;
}

.proyect-box .proyect .proyect-avatar {
    width: 25vw;
    height: 20vw;
    border-radius: 1vw;
}
#contact {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#send {
    border-radius: 5vw;
    height: 3vw;
    width: 10vw;
    background: #fff;
}
#send:hover {
    background: rgb(114, 108, 108);
    height: 2.7vw;
    width: 9.7vw;
}
.entry {
    border-radius: 1vh;
    width: 15vw;
    height: 2vw;
}
#redd {
    padding: 1vw;
    display: flex;
    justify-content: space-around;
}
.red {
    width: 10vw;
    height: 10vw;
    border-radius: 5vw;
}